.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #243147;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #58ace0;
}

.hljs-keyword {
  color: #ff6188;
}

.hljs,
.hljs-subst,
.hljs-attr {
  color: #f8f8f2;
}

.hljs-title,
.hljs-meta-keyword {
  color: #a9dc62;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #ffd862;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #81899b;
}

.hljs-literal,
.hljs-number {
  color: #ab90d9;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-attr,
.hljs-strong {
  font-weight: bold;
}
