@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1 {
  @apply text-3xl text-gray-700 dark:text-white mt-14 pb-1 border-b-2 border-gray-200 dark:border-gray-600;
}

.markdown h2 {
  @apply text-2xl text-gray-700 dark:text-white;
}

.markdown blockquote {
  quotes: none;
}

.markdown pre {
  border-radius: 10px;
  background: #243147;
}

.markdown strong {
  @apply text-rose-400 dark:text-rose-300;
}
